.about{
    background-color: black;
    color: white;
    text-align: center;
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
}

.about-title{
    font-size: 60px;
    padding: 30px;
}

.about-img{
    border-radius: 30px;
    width: 50vw;
    height: 80vh;
}

.bio{
    display: flex;
    align-items: center;
    padding: 60px;

}

.about-p{
    padding-left: 60px;
}

.about-span{
    float: left;
    line-height: 15%;
    width: .7em;
    font-size: 400%;
}